div#image {
    background-image: url('/obrazy/man-1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

div#header {
    opacity: 0;
}

div#caption {
    top: 60vh;
    text-align: center;
}

@media(min-width: 992px) {
    div#image {
        background-image: url('/obrazy/man-2.jpg');
        justify-content: flex-end;
        height: 80vh;
    }
    div#caption {
        opacity: 0;
    }
    div#header {
        opacity: 1;
        color: white;
        flex-grow: 1;
        margin-left: 80vh;
        margin-top: 10vh;
    }
}

@media (min-width: 1170px) {
    div#image {
        background-image: url('/obrazy/man-1.jpg');
    }
    div#header {
        opacity: 1;
        color: white;
        flex-grow: 1;
        margin-left: 10vh;
        margin-top: 30vh;
    }
}
